html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.border {
  border: solid 2px red;
}

.border2 {
  border: solid 2px blue;
}

.border3 {
  border: solid 2px yellow;
}

.border4 {
  border: solid 2px green;
}

a {
  color: inherit;
  text-decoration: none;
}

.background-nav {
  background-color: #92d2d9;
}

.footer-spacing {
  margin-bottom: 16px;
}

.background-topNav {
  background-color: #ff723d;
}

* {
  box-sizing: border-box;
}
